.split {
    height: 100%;
    width: 50%;
    z-index: 1;
    top: 0;
  }

/* Control the left side */
.left {
    left: 0;
    background-color: #01C5CE;
  }
  
  /* Control the right side */
.right {
    right: 0;
    background-color: #FA999A;
}

.centered {
    margin: 0;
    position: absolute;
    top: 50%;
  }

.nav {
    margin: 0;
    padding: 0.5em 0 0.5em 2em;
    z-index: 0;
    position: relative;
    width: 100%;
    background-color: #016D9F;
}

li {
    color: black;
    display: inline;
}

.allsplit {
    height: 100vh; 
    position: relative;
}

h1 {
    color: white;
    font-family: Didot; 
    font-size: 60px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 23px; 
}

h3 { 
    font-family: Quicksand;
    font-size: 30px;
    font-style: normal; 
    font-variant: small-caps; 
    font-weight: 700; 
    line-height: 23px; 
}

p { 
    font-family: Quicksand; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 23px; 
}

#title {
    text-align: right;
    right: 5%;
}