h1 {
    color: white;
    font-family: Didot; 
    font-size: 5vmax; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700;  
}

h3 { 
    font-family: Quicksand;
    font-size: 30px;
    font-style: normal; 
    font-variant: small-caps; 
    font-weight: 700; 
}

p { 
    font-family: Quicksand; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400;  
}

li {
    font-family: Quicksand;
}

@media (min-width: 768px) {
    .h-md-100 { 
        height: 100vh; 
    }

    .just-md {
        justify-content: center;
    }

}

.bg-lightblue { 
    background: #01c5ce; 
}
.bg-salmon { 
    background: #fa999a; 
}

.dropdown:hover .dropdown-menu {
    display: block !important;
 }
  
.navbar-toggle {
    background: lightgray;
}



