:root {
    --main: #15325c;
    --accent-color: #fb7375;
    --text: white;
    --accent-text: #fec9ca;
  }

h1 {
    font-family: Didot; 
    font-size: 3.75em; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700;  
}

h3 { 
    color: var(--accent-text);
    font-family: Quicksand;
    font-size: 3.75em;
    font-style: normal; 
    font-variant: small-caps; 
    font-weight: 700; 
}

h4 { 
    font-family: Quicksand;
    font-size: 1.5em;
    font-style: normal;  
    font-weight: 900;

}

p { 
    font-family: Quicksand; 
    font-size: 1em; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: lighter;  
}

li {
    font-family: Quicksand;
}

@media (min-width: 768px) {
    .h-md-100 { 
        height: 100vh; 
    }
    
}

.bg-main { 
    background: var(--main); 
}

.bg-accent { 
    background: var(--accent-color); 
}

.dropdown:hover .dropdown-menu {
    display: block !important;
 }

 .nav-item{
    text-align: right;
    font-size: 1.1em;
}

.navbar-brand {
    font-size: 2.25em;
    font-family: Didot;
}

/* change the brand and text color */
.navbar-dark .navbar-text {
    color: var(--accent-text);
    padding: none;
}
/* change the link color */
.navbar-dark .navbar-nav .nav-link {
    color: var(--accent-text);
}
/* change the color of active or hovered links */
.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:hover .nav-link {
    color: var(--accent-color);
}

body {
    background-color: var(--main);
    color: var(--text);
}

.page-header {
    text-align: center;
}

.btn {
    font-family: Quicksand;
}
 
.btn-primary {
    background: var(--accent-color);
    color: var(--text);
    border: none;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: var(--text);
    color: var(--accent-color);
}
 
.btn-primary:active, .btn-primary.active {
    color: var(--accent-color);
    box-shadow: none;
}

.backimg {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.25),
        rgba(0, 0, 0, 0.25)), 
        url(files/IMG_1165.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.link {
    color: var(--text);
    text-decoration: underline;
}

.link:hover {
    color: var(--accent-color);
}

.card {
    background-color: white;
    color: black;
}

.card-footer {
    font-family: Quicksand;
}

.card-deck {
    padding-bottom: 3%;
}

a.fas,
a.fab {
    padding-right: 0.5em;
    color: var(--accent-color);
}

a.fas:hover,
a.fab:hover {
    color: var(--accent-text);
    text-decoration: none;
}

label {
    font-family: Quicksand;
}

.caption {
    padding: 0 0 0 0;
}

a.social {
    padding-left: 0.25em;
    padding-right: 0.25em;
    padding-bottom: 0.5em;
    color: white;
}

a.social:hover {
    color: var(--accent-color);
    text-decoration: none;
}